@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.inter{
    font-family: 'Inter', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
    background-image: url('./assets/bg.png');
    /* background-color: #121214; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #121214;
    border-radius: 20px;
}

.AccordionTrigger[aria-expanded="true"] .accordion-icon {
    transform: rotate(180deg);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 26px #00582f inset !important;
    -webkit-text-fill-color: white !important;
} 

input:-moz-autofill {
    background-color: #404040 !important;
    color: white !important;
    border: 1px solid #2FB600 !important;
}

input:-ms-autofill {
    background-color: #404040 !important;
    color: white !important;
    border: 1px solid #2FB600 !important;
}
  